#inner-box{
    height: 250px;
    border-width: 20px;
    border-style: solid;
    border-color: aqua;
    background-color: aquamarine;
    /* box-sizing: border-box; */
}
#outer-box{
    background-color: blue;
    padding: 50px;
    height: 300px;
    width: 300;

}
.bg-img{
    width: 50%;
    border-radius: 1%;
    border: 10px solid violet;
}