*{
    margin: 0;
    padding: 0;
}
/* body{
    color: aqua;
    font-style: italic;
    font-family: serif;
    font-weight: bold;
    font-size: 50px;
}
p {
    color: blueviolet;

}
.title{
    font-size: 25px;
}
h1{
    text-shadow: 5px 5px 5px rosybrown;
}
p{
    width: 300px;
    word-wrap: break-word;
}
div{
    /* border: 2px solid; */
    /* border-radius: 25px; */
    /* box-shadow: 2px 10px 5px blueviolet;
    background: palevioletred;
} */ 
#demo01{
    border: 5px solid burlywood;
    padding: 30px;
    /* background-color: plum; */
    background-image: url(https://www.readawrite.com/a/2d6759d3a0079b379e04b5e145e00bc0);
    background-repeat: no-repeat;
    background-origin: content-box;
}

.box1{
    width: 350px;
    height: 50px;
    margin: 10px;
    border: 5px solid rebeccapurple;
    /* padding-top: 80px;
    padding-left: 80px;
    padding-bottom: 80xp;
    padding-right: 80px; */
    padding: 80px;
    box-sizing: border-box;
}
.box2{
    width: 350px;
    height: 50px;
    margin: 10px;
    border: 5px solid rebeccapurple;
    /* padding-top: 80px;
    padding-left: 80px;
    padding-bottom: 80xp;
    padding-right: 80px; */
    padding: 80px;
    box-sizing: border-box;
}